<div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">


      <!-- <a class="navbar-brand" href="#"> -->
        <h2>Altizon-Dashboard</h2>
      <!-- </a> -->

    </div>
    <button class='btn btn-danger btn-xs pull-right' ng-click="logOutUser()">
      <i class="fa fa-sign-out"></i>

      <!-- <i class="fa fa-camera-retro"></i> -->
      <!-- <span class="glyphicon glyphicon-off" aria-hidden="true"></span> -->
    </button>
  </div>
</nav>
</div>
